*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body,html{
  background-color: #fdfdfd;
  height: 100%;
  width: 100%;
}
.wrap{
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  .left{
    vertical-align: top;
    .s1{
      font-size: 100px;
      line-height: 320px;
      height: 320px;
      width: 450px;
      color: deeppink;
      display: inline-block;
    }
    .ppp{
      position: absolute;
      right: 0;
      top: 0;
      font-size: 16px;
      z-index: 10;
      padding: 2px 5px;
      color: white;
      text-shadow: 1px 1px black;
    }
  }
  .right{
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 2.5;
    font-size: 16px;
    color: #333;
    p{
      display: inline-block;
      width: 220px;
      text-align: right;
    }
    input, select{
      height: 22px;
      padding: 0 10px;
      background-color: white;
      outline: none;
      margin-left: 30px;
      vertical-align: middle;
      width: 250px;
    }
    input[type=checkbox]{
      height: 22px;
      width: 22px;
    }
    span{
      color: deeppink;
    }
  }
  .doc{
    text-align: center;
    font-size: 14px;
    text-shadow: 1px 1px 1.5px rgba(0,0,0,0.5);
    margin-top: 20px;
    table{
      width: 100%;
      border: 1px solid green;
      border-collapse: collapse;
      tr{
        color: darkviolet;
        line-height: 2;
        text-align: left;
        td{
          border: 1px solid green;
          padding: 0 10px;
          box-shadow: 0 0 2px 0 #888 inset;
        }
        &:first-child{
          color: deeppink;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
}